:root {
	--mainPurple: #6b344d;
	--lightMagenta: #f9c4d1;
	--mainWhite: #f5f5f5;
	--mainDark: #2d395e;
	--darkMaginta: #f76d6e;
}

body {
	font-family: 'Roboto', sans-serif !important;
}

.text-title {
	font-family: 'Work Sans', sans-serif;
	background: var(--lightMaginta);
	letter-spacing: .3rem;
	text-transform: uppercase;
}

.text-purp {
	color: var(--mainPurple);
}
.text-bright {
	color: var(--lightMagenta);
}
